:root {
  --seni-primary-color: #007bff;
}

div#txt2img_results {
  min-width: min(650px, 100%) !important;
}

/* Live preview */
div.livePreview
{
  height: 90vh;
  /* background-color: #00ff00aa; */
}

div#txt2img_gallery
{
  height: 90vh;
  /* background-color: #ffff00aa; */
}

div.preview.svelte-g4rw9.fixed-height
{
  max-height: 90vh;
  /* background-color: #ff0000aa; */
}

div.svelte-g4rw9.fixed-height
{
  max-height: 90vh;
  /* background-color: #ff0000aa; */
}

/* Txt2Img */

/* Seed */
div#txt2img_seed_row
{
  border-color: white;
  border-width: 1px;

  padding-left: 0.5vw;
  padding-right: 0.5vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  
  margin-top: 1vh;
  margin-bottom: 0.5vh;
}

/* Seed Title */
div#txt2img_seed_row span.svelte-1gfkn6j
{
  font-weight: bold;
  margin-bottom: 0.5vw;
}

/* Extra Button */
div#txt2img_subseed_show
{
  display: none; /* Hide button */
}

/* Variation seed / Variation strength */
div#txt2img_subseed_row
{
  display: flex; /* Always visible */
  
  border-color: white;
  border-width: 1px;

  padding-left: 0.5vw;
  padding-right: 0.5vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
}

/* Title - Variation seed / Variation strength */
div#txt2img_subseed_row span.svelte-1gfkn6j
{
  font-weight: bold;
  margin-bottom: 0.5vw;
}

/* Resize seed from (width / height) */
div#component-158
{
  display: flex; /* Always visible */

  border-color: white;
  border-width: 1px;

  padding-left: 0.5vw;
  padding-right: 0.5vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
}

/* Title - Resize seed from (width / height) */
div#component-158 span.svelte-1gfkn6j
{
  font-weight: bold;
  margin-bottom: 0.5vw;
}

/* txt2img script container */
div.label-wrap.svelte-s1r2yt
{
  background: transparent;
}

/* txt2img script container */
div.gradio-group.svelte-1oo81b7
{
  margin-top: 1vh;
  margin-bottom: 1vh;
}

/* The div container for the progress bar and values */
div.progressDiv {
height: 22px !important;
}

div.progressDiv img.SeniImg {
height: 20px;
margin-left: 5px;
margin-right: 5px;
vertical-align: top;
display: inline;
}

span.progress {
padding-top: 15px;
height: 50px;
text-align: center;
}

/* Progressbar Values */
div.progressDiv span#SeniProgressbarValuesSpan {
  z-index: 1;
  position: absolute;
  width: inherit;
  height: inherit;
  font-size: smaller;
  /* text-align: center; */
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}

div.progressDiv span#SeniProgressbarValuesSpan span.ProgressBarDetail {
  background-color: transparent;
  /* border-width: 1px; */
  /* border-radius: 8px !important; */
  /* padding: 2px; */
}

/* Progressbar Values hidden */
div.progressDiv span#SeniProgressbarValuesSpan span.ProgressBarDetail.hidden {
  display: none;
}

/* Progressbar */
div.progressDiv span#SeniProgressbarSpan {
  z-index: 0;
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: transparent;
}

/* Top row div - Prompts/Buttons/Styles */
div#txt2img_toprow {
  /* Move Styles below prompts */
  display: contents;
}